.card{
  background:white;
  border-radius:15px;
  padding:20px;
  box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.card h3{
  color:#19376d;
}

.botones{
  display:flex;
  gap:10px;
  margin-top:15px;
}

.editar{
  flex:1;
  background:#315b94;
  color:white;
  border:none;
  padding:10px;
  border-radius:8px;
}

.eliminar{
  flex:1;
  background:#d92d20;
  color:white;
  border:none;
  padding:10px;
  border-radius:8px;
}