/* Contenedor principal de la aplicación */
.contenedor {
    max-width: 900px;
    margin: 40px auto;
    font-family: 'Arial', sans-serif;
}

/* Encabezado */

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #150891;
}

header p {
    color: #555;
}

/* Contiene el buscador y el botón */

.acciones {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

/* Campo de búsqueda */

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Botones */

button {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    background-color: #2068e4;
    color: #fff;
    cursor: pointer;
}

/* Contenedor de las tarjetas */

.citas {
    display: grid;
    gap: 15px;
}

/* Tarjeta de cada cita */

.tarjeta {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fcfcfc;
}

/* Título de cada cita */

.tarjeta h2 {
    color: #2563eb;
}

/* Pie de la aplicación */

footer {
    margin-top: 30px;
    text-align: center;
    color: #2212ff;
}